.content{
    height: 250px;
}
p#thongBao {
    color: orangered;
}
h1.bg-danger {
    margin: 0;
    text-align: center;
    padding: 20px;
}

.input_btn {
    padding: 20px 20px 20px 20px;
}

p {
    padding: 20px 20px 10px 100px;
    font-size: 20px;
    text-align: center;
}
input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 0;
    border-radius: 7px;
}
button.button {
    padding: 10px;
    border: 0;
    border-radius: 7px;
    width: 15%;
    background: chartreuse;
    /* font-size: 17px; */
}
@media (max-width: 576px) { 
    input.form-control {
    width: 100%;
    text-align: center;
}

button.btn {
    /* justify-content: center; */
    /* text-align: center; */
}

button.btn {
    margin: 0 auto;
    padding: 2;
}

button.btn {
    margin: 20px 0 0 0;
}

.input_btn {
    text-align: center;
}
 }

/* // Medium devices (tablets, 768px and up) */
@media (max-width: 768px) { 
   input.form-control {
    width: 100%;
    text-align: center;
}

button.btn {
    /* justify-content: center; */
    /* text-align: center; */
}

button.btn {
    margin: 0 auto;
    padding: 2;
}

button.btn {
    margin: 20px 0 0 0;
}

.input_btn {
    text-align: center;
}
 

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 

 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {  }